@import
'_reset',
'_fonts',
'_param',
'_footer',
'_header';
body{
	font: 18px/21px 'Proxima Nova Rg';
	background: #fff;
	color: #777;
}
.list_rows{
	padding-top: 5px;
	@media screen and (max-width: 960px) {
		.text_col{
			padding-bottom: 30px;
			padding-top: 15px;
			text-align: center;
		}
	}
}
.banner{
	min-height: calc(100vh - 143px);
	background-size: cover !important;
	background-position: 50% 50% !important;
	overflow: hidden;
	color: #fff;
	h1{
		margin: 0;
		font-size: 72px;
		line-height: 73px;
		font-weight: bold;
		padding-bottom: 21px;
		font-size: calc(48vw / 19.2);
		line-height: calc(50vw / 19.2);
		padding-bottom: calc(18vw / 19.2);
	}
	p{
		font-size: 36px;
		line-height: 42px;
		margin: 0;
		padding: 0 30px;
		padding: 0 calc(30vw / 19.2);
		font-size: calc(36vw / 19.2);
		line-height:calc(37vw / 19.2);
	}
	.container_fluid{
		padding: 130px 150px 20px;
		padding: calc(130vw / 19.2) calc(150vw / 19.2) calc(20vw / 19.2);
	}
	@media screen and (max-width: 1200px) {
		.container_fluid{
			padding: 30px 15px 20px;
		}
		h1{
			font-size: 60px;
			line-height: 61px;
		}
		p{
			font-size: 30px;
			line-height: 36px;
			padding: 0;
		}
	}
	@media screen and (max-width: 550px){
		min-height: 250px;
		padding-bottom: 20px;
		h1{
			font-size: 18px;
			line-height: 21px;
			padding-bottom: 2px;
		}
		p{
			font-size: 12px;
			line-height: 16px;
		}
	}
}
.text_col{
	justify-content:flex-end;
	text-align: right;
	@media screen and (max-width: 960px){
		justify-content:center !important;
		text-align: center;
	}
}
.text_info{
	padding: 0 100px;
	padding: 0 calc(100vw / 19.2);
	display: flex;
	flex-flow:column nowrap;
	justify-content:center;
	max-width: 70%;
	align-items:flex-end;
	@media screen and (max-width: 960px){
		align-items:center !important;
	}
	h2{
		margin: 0;
		// font-size: 48px;
		// line-height: 52px;
		font-weight: normal;
		padding-bottom: 10px;
		padding-bottom: calc(10vw / 19.2);
		// font-size: 2.6vw;
		// line-height: 2.8vw;
		font-size: calc(36vw / 19.2);
		line-height: calc(38vw / 19.2);
	}
	p{
		margin: 0;
		// font-size: 24px;
		// line-height: 28px;
		// font-size: 1.3vw;
		// line-height: 1.7vw;
		font-size: calc(18vw / 19.2);
		line-height: calc(22vw / 19.2);
	}
	.btn{
		margin-top: 70px;
		margin-top: calc(70vw / 19.2);
	}
	@media screen and (max-width: 1500px){
		// max-width: 100%;
		// padding: 0 50px;
		h2{
			// font-size: 40px;
			// line-height: 44px;
		}
		p{
			// font-size: 20px;
			// line-height: 24px;
		}
		.btn{
			// margin-top: 30px;
		}
	}
	@media screen and (max-width: 960px){
		h2{
			font-size: 24px;
			line-height:26px;
		}
		p{
			font-size: 18px;
			line-height: 21px;
		}
		.btn{
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 550px){
		h2{
			font-size: 18px;
			line-height: 22px;
		}
		p{
			font-size: 12px;
			line-height: 14px;
		}
	}
}
.img_in_left{
	.text_col{
		justify-content:flex-start;
		text-align: left;
		.text_info{
			align-items:flex-start;
		}
	}
	.col-6{
		order:2;
		+ .col-6{
			order:1;
		}
	}
	@media screen and (max-width: 960px){
		.col-6{
			order:0;
			+ .col-6{
				order:1;
			}
		}
	}
}
.title_page{
	padding: 0 15px 30px;
	h1{
		font-weight: normal;
		font-size: 36px;
		line-height: 38px;
		// font-size: calc(48vw / 19.2);
		// line-height: calc(50vw / 19.2);
		margin: 0;
		@media screen and (max-width: 960px) {
			font-size: 30px;
			line-height: 32px;
		}
	}
}
.double_img{
	&:hover{
		img{
			filter: grayscale(1);
		}
	}
	.col-6{
		&:hover{
			img{
				filter: grayscale(0);
			}
		}
	}
	&.colored_static{
		img{
			filter: none !important;
		}
		.col-6{
			&:hover{
				filter: none !important;
			}
		}
	}
}
.one_product_list{
	padding-top: 44px;
	.row{
		margin: 0 -7px;
		padding-bottom: 35px;
		a{
			flex: 0 0 33.333%;
			max-width: 33.333%;
			padding: 7px;
			
			img{
				display: block;
				height: auto;
				max-width: 100%;
				filter: grayscale(1);
				transition: all 0.3s ease;
			}
			&:hover{
				img{
					filter: grayscale(0);
					transition: all 0.5s ease;
				}
			}
		}
	}
	h2{
		margin: 0;
		color: #777;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 26px;
		font-weight: normal;
		padding-bottom: 10px;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 18px;
		line-height: 23px;
		padding-bottom: 30px;
	}
	@media screen and (max-width: 960px){
		padding-top: 22px;
		h2{
			font-size: 20px;
			line-height: 22px;
		}
		ul{
			font-size: 16px;
			line-height: 18px;
			padding-bottom: 15px;
		}
		.row{
			margin: 0 -5px;
			padding-bottom: 20px;
			a{
				padding: 5px;
			}
		}
	}
}
.gall{
	margin-top: 30px;
	margin-bottom: 34px;
	.item{
		a{
			img{
				filter: grayscale(1);
				transition: all 0.3s ease;
				&:hover{
					filter: grayscale(0);
					transition: all 0.5s ease;
				}
			}
		}
	}
	&.colored_static{
		.item{
			a{
				img{
					filter:none !important;
				}
			}
		}
	}
	.owl-nav{
		button{
			width: 140px;
			height: 100%;
			@media screen and (max-width: 960px){
				width: 80px;
			}
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 !important;
			font-size: 0;
			text-indent: -9999px;
			&:hover{
				background: none !important;
			}
			&:after{
				width: 60px;
				height: 75px;
				content: '';
				background:url(../images/next.svg);
				background-size: cover;
				top: 50%;
				left: 50%;
				position: absolute;
				transform:translate(-50% , -50%) rotate(-180deg);
				@media screen and (max-width: 960px){
					width: 30px;
					height: 40px;
				}
			}
			&.owl-next{
				left: auto;
				right: 0;
				&:after{
					transform:translate(-50% , -50%);
				}
			}
		}
	}
	@media screen and (max-width: 960px){
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.call_me{
	color: #777;
	padding: 40px 15px 75px;
	p{
		margin: 0;
		font-size: 36px;
		line-height: 38px;
		padding-bottom: 30px;
	}
	.btn{
		max-width: 380px;
		font-size: 24px;
		line-height: 26px;
		padding:15px 5px;
	}
	@media screen and (max-width: 960px){
		padding-top: 20px;
		padding-bottom: 40px;
		p{
			font-size: 20px;
			line-height: 22px;
			padding-bottom: 15px;
		}
		.btn{
			font-size: 20px;
			line-height: 22px;
			max-width: 280px;
			padding:10px 5px;
		}
	}
}
.about_txt_product{
	padding-top: 20px;
	h2{
		margin: 0;
		font-size: 24px;
		line-height: 26px;
		font-weight: normal;
		padding-top: 15px;
	}
	p{
		margin: 20px 0 0 0;
		font-size: 18px;
		line-height: 22px;
	}
	@media screen and (max-width: 960px){
		padding-top: 10px;
		h2{
			font-size: 20px;
			line-height: 22px;
		}
		p{
			margin-top: 10px;
			font-size: 16px;
			line-height: 20px;
		}
	}
}
.etc_products{
	padding-top: 40px;
	h2{
		margin: 0;
		font-size: 36px;
		line-height: 38px;
		font-weight: normal;
		padding: 0 15px;
	}
	@media screen and (max-width: 960px){
		padding-top: 20px;
		h2{
			font-size: 30px;
			line-height: 32px;
		}
	}
}
.text_page{
	h1{
		font-size: 36px;
		line-height: 38px;
		font-weight: normal;
		margin: 0;
		padding-bottom: 26px;
		@media screen and (max-width: 960px){
			font-size: 30px;
			line-height: 32px;
		}
	}
	p{
		font-size: 18px;
		line-height: 22px;
		margin: 0;
		padding-bottom: 15px;
	}
	h2{
		margin: 0;
		font-size: 24px;
		line-height: 26px;
		font-weight: normal;
		padding: 33px 0 45px 0;
	}
	@media screen and (max-width: 960px){
		// p{
		// 	font-size: 20px;
		// 	line-height: 25px;
		// }
		h2{
			padding-top: 15px;
			padding-bottom: 20px;
			font-size: 22px;
			line-height: 26px;
		}
	}
}
.designers_block{
	padding-bottom: 40px;
	h4{
		margin: 0;
		font-weight: normal;
		font-size: 18px;
		line-height: 20px;
		text-transform: uppercase;
		padding-bottom: 9px;
	}
	@media screen and (max-width: 960px){
		padding-bottom: 20px;
	}
	.col-3{
		margin-bottom: 40px;
		img{
			filter: grayscale(1);
			transition: all 0.3s ease;
			width: 100%;
			display: block;
			height: auto;
			&:hover{
				filter: grayscale(0);
				transition: all 0.5s ease;
			}
		}
		@media screen and (max-width: 960px){
			flex: 0 0  33.333%;
			max-width: 33.333%;
			margin-bottom: 20px;
			@media screen and (max-width: 750px){
				flex: 0 0  50%;
				max-width: 50%;
			}
			@media screen and (max-width: 450px){
				flex: 0 0  100%;
				max-width: 100%;
			}
		}
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	strong{
		display: block;
		font-size: 24px;
		line-height: 26px;
		font-weight: normal;
		padding-top: 12px;
		@media screen and (max-width: 960px){
			font-size: 20px;
			line-height: 22px;
			padding-top: 6px;
		}
	}
	span{
		display: block;
		font-size: 18px;
		line-height: 20px;
		@media screen and (max-width: 960px){
			font-size: 16px;
			line-height: 18px;
		}
	}
}
.object_block{
	.col-6{
		margin-bottom: 40px;
		@media screen and (max-width: 750px){
			flex: 0 0  100%;
			max-width: 100%;
		}
	}
	a{
		position: relative;
		width: 100%;
		display: block;
		img{
			filter: grayscale(1);
			transition: all 0.3s ease;
			width: 100%;
			display: block;
			height: auto;
		}
		&:hover{
			span{
				opacity: 1;
				transition: all 0.5s ease;
			}
			img{
				filter: grayscale(0);
				transition: all 0.5s ease;
			}
		}
	}
	strong{
		display: block;
		font-size: 18px;
		line-height: 20px;
		font-weight: normal;
	}
	h4{
		margin: 0;
		font-weight: normal;
		font-size: 18px;
		line-height: 20px;
		text-transform: uppercase;
		padding-bottom: 9px;
	}
	span{
		opacity: 0;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		border-color: #fff;
		color: #fff;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 38px;
		padding-top: 15px;
		padding-bottom: 15px;
		max-width: 380px;
		width: 100%;
		font-size: calc(36vw / 19.2);
		line-height: calc(38vw / 19.2);
		padding-top: calc(15vw / 19.2);
		padding-bottom: calc(15vw / 19.2);
		max-width: calc(380vw / 19.2);
		&:hover{
			background: none;
		}
		@media screen and (max-width: 750px){
			max-width: 250px;
			font-size: 20px;
			line-height: 22px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	@media screen and (max-width: 960px){
		h4,strong{
			font-size: 16px;
			line-height: 18px;
		}
	}
}
.about_txt{
	padding: 0 calc(40vw / 19.2);
	h1{
		font-size: calc(30vw / 19.2);
		line-height: calc(32vw / 19.2);
		margin: 0;
		font-weight: normal;
		padding-bottom: calc(24vw / 19.2);
	}
	p{
		margin: 0;
		font-size: calc(24vw / 19.2);
		line-height: calc(28vw / 19.2);
	}
	strong{
		flex: 0 0 50%;
		max-width: 50%;
		font-weight: normal;
		font-size: calc(24vw / 19.2);
		line-height: calc(28vw / 19.2);
		padding-top: calc(55vw / 19.2);
		span{
			display: block;
		}
	}
	@media screen and (max-width: 960px){
		padding: 0 15px;
		h1{
			font-size: 30px;
			line-height: 33px;
			padding-bottom: 20px;
		}
		p{
			font-size: 18px;
			line-height: 22px;
		}
		strong{
			font-size: 18px;
			line-height: 22px;
			padding-top: 30px;
			padding-bottom: 30px;
			@media screen and (max-width: 750px){
				margin: 0 auto;
				flex: 0 0 95%;
				max-width:95%;
			}
		}
	}
}
.map{
	width: 100%;
	height: 100%;
	background: #ccc;
	margin: 5px 0;
	#map{
		width: 100%;
		height: 560px;
		@media screen and (max-width: 960px){
			height: 400px;
		} 
		@media screen and (max-width: 750px){
			height: 250px;
		}
	}
}
.middle_title{
	padding: 30px 15px 27px;
	h2{
		margin: 0;
		font-weight: normal;
		font-size: 36px;
		line-height: 38px;
	}
	@media screen and (max-width: 960px){
		padding: 15px;
		h2{
			font-size: 30px;
			line-height: 32px;
		}
	}
}
.color_dark{
	color: #333 !important;
}
.h1{
	font-size: 30px;
	line-height: 33px;
	font-weight: normal;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.article_prev{
	.col-6{
		padding-right: 0 !important;
		padding-left: 5px !important;
		+ .col-6{
			padding-left: 0 !important;
			padding-right: 5px !important;
		}
	}
}
.middle_txt{
	padding-top: 25px;
	padding-bottom: 30px;
	@media screen and (max-width: 960px){
		padding:0 15px 15px;
	}
}
.top_border{
	position: relative;
	&:before{
		content: '';
		width: 99999px;
		left: 50%;
		top: 0;
		transform:translateX(-50%);
		height: 1px;
		background: #777;
		position: absolute;
	}
}
.contact_txt{
	padding: 0 15px;
	width: 100%;
	h1{
		font-size: calc(48vw / 19.2);
		line-height: calc(50vw / 19.2);
		font-weight: normal;
		margin: 0;
	}
	p{
		margin: 0;
		padding-top: calc(20vw / 19.2);
		font-size: calc(36vw / 19.2);
		line-height: calc(38vw / 19.2);
		i{
			font-size: calc(30vw / 19.2);
			line-height: calc(32vw / 19.2);
			font-style: normal;
		}
	}
	strong{
		color: #333;
		display: block;
		font-weight: normal;
		font-size: calc(48vw / 19.2);
		line-height: calc(50vw / 19.2);
		padding-bottom:calc(10vw / 19.2);
		padding-top:calc(20vw / 19.2);
		a{
			color: #333;
		}
	}
	.call_me{
		a{
			text-decoration: underline;
			color: #777;
			text-transform: uppercase;
			font-size: calc(30vw / 19.2);
			line-height: calc(32vw / 19.2);
			&:hover{
				text-decoration: none;
			}
		}
	}
	ul{
		margin: calc(38vw / 19.2) auto 0;
		padding: 0;
		list-style: none;
		text-align: left;
		li{
			color: #777;
			font-size: calc(30vw / 19.2);
			line-height: calc(36vw / 19.2);
			a{
				color: #777;
			}
		}
	}
	@media screen and (max-width: 960px){
		padding-bottom: 30px;
		h1{
			font-size: 30px;
			line-height: 32px;
		}
		p{
			padding-top: 10px;
			font-size: 22px;
			line-height: 24px;
			i{
				font-size: 20px;
				line-height: 22px;
			}
		}
		strong{
			font-size: 30px;
			line-height: 33px;
			padding-bottom: 10px;
			padding-top: 10px;
		}
		.call_me{
			a{
				font-size: 20px;
				line-height: 22px;
			}
		}
		ul{
			margin-top: 20px;
			li{
				font-size: 23px;
				line-height: 25px;
			}
		}
	}
}